* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.Back {
    position: absolute;
    padding: 20px;
    margin-left: 1s0px;
    display: flex;
}

.Back img {
    width: 25px;
}

.Back p {
    text-align: center;
}

.overlay {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 10%;
    z-index: -1;
}

.wave {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -2;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img .logo {
    width: 350px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.795);
    border-radius: 50px;
}

.img img {
    width: 500px;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

form {
    width: 360px;
}

.avatar {
    width: 125px;
}

.font h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div:after, .input-div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #38d39f;
    transition: .3s;
}

.input-div:after {
    right: 50%;
}

.input-div:before {
    left: 50%;
}

.input-div.focus .i i {
    color: #38d39f;
}

.input-div.focus div h5 {
    top: -5px;
    font-size: 15px;
}

.input-div.focus:after, .input-div.focus:before {
    width: 50%;
}

.input-div .one {
    margin-top: 0;
}

.input-div .two {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #999;
    transition: .3s;
}

.input-div > div {
    position: relative;
    height: 40px;
}

.input-div > div h5 {
    position: absolute;
    left: 15px;
    top: 20px;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #999;
}

a {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

a:hover {
    color: #fff;
}

.btn {
    display: block;
    width: 100%;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
    padding: 10px;
}

.btn:hover {
    background-position: right;
}

.btn1 {
    display: block;
    width: 100%;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #fa6611, #f18b5b, #fa6611);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
    padding: 10px;
}

.btn1:hover {
    background-position: right;
}

.social-text {
    padding: 0.7rem 0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

.social-icon {
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 50%;
}

.social-icon:hover {
    color: #20dbc2;
    border-color: #00bfa6;
}

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }

    form h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    img .img {
        width: 400px;
    }

    .img .logo {
        width: auto;
    }

    .social-media {
        margin: auto;
        width: auto;
        height: auto;
        overflow: hidden;
        position: relative;
    }
}

@media screen and (max-width: 900px) {
    .img {
        display: none;
    }

    .container {
        grid-template-columns: 1fr;
    }

    .wave {
        display: none;
    }
    .login-container {
        justify-content: center;
    }

    .social-media {
        margin: auto;
        width: auto;
        height: auto;
        overflow: hidden;
        position: relative;
    }
}