@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

section {
    margin: 0;
    padding: 0;
}

.cover {
    width: 100%;
    height: 100%;
    position: fixed;
    object-fit: cover;
    left: 0;
    top: 0;
    z-index: -1;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    z-index: -1;
}

/* Menubar */

.sidebar {
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  background: #1b1b1b;
  transition: all .5s ease;
  top: 0;
}

.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 30px;
  text-align: center;
  background: #1b1b1b;
  user-select: none;
}

.profile {
    align-items: center;
    text-align: center;
}

.profile .avatar {
    margin-top: 40px;
    width: 100px;
}

.profile .text {
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}

.profile .user {
    color: grey;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 10px;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-top: 1px solid rgba(255,255,255,.1);
  transition: .4s;
}

ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 16px;
}

#copyright {
  text-align: center;
  width: 100%;
  font-size: 5px;
  margin-top: 130px;
}

#check{
  display: none;
}

label #btn,label #cancel {
  position: fixed;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
}

label #btn { 
  left: 250px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  opacity: 0;
  pointer-events: none;
  transition: all .5s;
}

label #cancel {
  z-index: 1111;
  left: 195px;
  top: 17px;
  font-size: 30px;
  color: #fff;
  padding: 4px 9px;
  transition: all .5s ease;
}

#check:checked ~ .sidebar {
  left: -250px;
}

#check:checked ~ label #btn {
  left: 40px;
  opacity: 1;
  pointer-events: auto;
}

#check:checked ~ label #cancel {
  left: -195px;
}

/* Konten */

.logo {
  margin: 25px auto;
  width: 70%;
  display: flex;
}

.logo img {
  width: 50px;
}

.logo h1 {
  font-size: 30px;
  color: white;
  margin-top: 5px;
  margin-left: 20px;
}

.background {
  background: linear-gradient(90deg, white, rgb(130, 238, 130));
  padding: 20px;
  border-radius: 10px;
  width: 70%;
  margin: 50px auto;
  align-items: center;
  text-align: center;
  display: flex;
}

.box {
  background-color: white;
  width: 200px;
  height: 120px;
  border: 2px solid #797979;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  align-items: center;
  text-align: center;
}

.add {
  color: #797979;
  font-size: 80px;
}

.add:hover {
  color: turquoise;
}

.box-1 {
  background-image: url(img/Buku-1.png);
  background-position-x: -20px;
  background-position-y: -90px;
  width: 200px;
  height: 120px;
  border: 2px solid #797979;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.box-2 {
  background-image: url(img/Buku-2.png);
  background-position-x: -20px;
  background-position-y: -90px;
  width: 200px;
  height: 120px;
  border: 2px solid #797979;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-3 {
  background-image: url(img/Buku-3.png);
  background-position-x: -20px;
  background-position-y: -90px;
  width: 200px;
  height: 120px;
  border: 2px solid #797979;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sesi {
  background: white;
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 70px;
  margin-left: -10px;
  border-radius: 0px 0px 10px 10px ;
  left: 0;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.progress1 {
  background-color: gray;
  width: 100%;
  height: 20px;
  border: 1px solid #1b1b1b;
  border-radius: 10px;
  margin-bottom: 30px;
}

.h1 {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
}

.progress {
  background-color: aqua;
  width: 60%;
  height: 20px;
  border-radius: 10px;
}

.progress3 {
  background-color: gray;
  width: 100%;
  height: 20px;
  border: 1px solid #1b1b1b;
  border-radius: 10px;
  margin-bottom: 30px;
}

.progress2 {
  background-color: aqua;
  width: 100%;
  height: 20px;
  border-radius: 10px;
}

.border {
  border-top: 7px dotted white;
  position: relative;
  z-index: -1;
  width: 70%;
  margin: auto;
}